.container{
    margin-top: 5px;
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.mobile-card{
    width: 200px;
    height: 400px;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;    
    box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px;
    padding-bottom: 15px;
}

.mobile-card img{
   width: 60%;
   margin-left: 40px;
}

.mobile-brand{
    padding-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.mobile-price{
    font-size: 18px;
    margin-top: 5px;
}